<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Employee Directory</title>
</head>

<body>

<div class="container">

	<h3>Employee Directory</h3>
	<hr>
<!-- Add New Button -->
<a th:href="@{showFormForAdd}"
class="btn btn-primary btn-sm mb-3">

Add Employee

</a>
<form th:action="@{/employees/search}" class="form-inline">
	<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="employeeName" placeholder="Search by name" />

		<button class="btn btn-success mb-3" type="submit">Search</button>

</form>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Action</th>
				
				
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}">
			
				<td th:text="${tempEmployee.firstName}" />	
				<td th:text="${tempEmployee.lastName}" />	
				<td th:text="${tempEmployee.email}" />	
		
		<!-- Add update button -->
			<td><a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"
				class="btn btn-info btn-sm">Update</a>
		<!-- Add Deete button -->
		
	<a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
				class="btn btn-danger btn-sm"
				onclick="if(!(confirm('Are ypu sure do you want to delete the employee?')))return false"
				
				>Delete</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



